.homebody {
  position: relative;
}

.descriptionDiv {
  background-color: #44c205;
  width: 100%;
  color: white;
  display: flex;
  padding-top: 20px;
  flex-direction: column;
}

.descriptionDiv h1 {
  text-align: center;
  margin: auto;
  font-size: 1.5rem;
}

p {
  align-self: center;
}

.newsLetterSection {
  background-color: rgb(0, 102, 255);
  width: 100%;
}

.newsLetterSection form {
  display: flex;
  flex-direction: column;
}

.newsLetterSection h1 {
  text-align: center;
  color: white;
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.newsLetterSection input[type="text"] {
  width: 60vw;
  max-width: 290px;
  height: 2rem;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
}

.newsLetterSection input[type="submit"] {
  width: 6rem;
  height: 2.2rem;
  margin: auto;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.newsLetterSection input[type="submit"]:hover {
  background-color: rgb(156, 155, 153);
}

.newsLetterSection input[type="checkbox"] {
  align-self: center;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  align-self: center;
  position: relative;
  bottom: -2px;
}

.checkboxSection {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  margin: 0.7rem auto;
}

.checkboxSection p {
  font-size: 14px;
  color: white;
  margin: auto;
  margin-right: 0.3rem;
}

.desktopView {
  display: none;
}

@media (min-width: 1200px) {
  .homebody {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .descriptionDiv {
    display: none;
  }

  .newsLetterSection {
    display: none;
  }

  .desktopView {
    width: 100%;
    height: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mouseIcon {
    position: fixed;
    bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;

    padding: 30px 30px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: background-color 0.4s ease-out;
  }

  .mouseIcon p {
    color: #403f3fe5;
    font-weight: bold;
  }

  .modalContent {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .modalDiv {
    background-color: #5b5a5a86;
    width: 65%;
    max-width: 1060px;
    height: 80vw;
    max-height: 765px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100vh;
    position: relative;
  }

  .smallerDivs {
    margin: auto;
    width: 78%;
    height: 50%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .smallerDiv1,
  .smallerDiv2 {
    width: 50%;
    height: 50%;
    padding: 1rem;
    background-color: #ffffffe2;
    padding: 0;
    border-radius: 50px;
    min-height: 379px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden;
    transition: all 0.2s ease-out;
  }

  .smallerDiv1 {
    margin-right: 5px;
  }

  .smallerDiv2 {
    margin-left: 5px;
  }

  .smallerDiv1:hover,
  .smallerDiv2:hover {
    width: 70%;
    background-color: #ffffff;
  }

  .smallerDiv1.modalOpen {
    background-color: #ffffffed;
  }

  .modalOpen {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .smallerDiv1.modalOpen,
  .smallerDiv2.modalOpen {
    z-index: 1;
    height: 100%;
    width: 97%;
    bottom: 0;
    background-color: #ffffff;

    transition: all 0.2s ease-out;
  }

  .positionPreview {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .positionPreview img {
    border-radius: 0;
    width: 15rem;
  }

  .positionPreview p {
    color: #82ce4f;
    font-size: 2rem;
    font-weight: bold;
    margin-top: -1rem;
    margin-bottom: 3rem;
  }

  .bioPreview {
    width: 100%;
    height: 100%;
  }

  .bioPreview {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bioPreview img {
    border-radius: 0;
    width: 14rem;
  }

  .bioPreview p {
    color: #82ce4f;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 3rem;
  }

  .bioPreview {
    width: 100%;
    height: 100%;
  }

  iframe {
    height: 100%;
    width: 100%;
  }
  .bioContent {
    height: 100%;
    width: 100%;
    flex-direction: column;
  }

  .circleDivModals {
    position: absolute;
    background-color: #ffffff;
    width: 79%;
    height: 59%;
    border-radius: 50px;
  }

  .circleDivModal.modalOpen {
    position: absolute;
    background-color: #ffffff;
    width: 79%;
    height: 59%;
    border-radius: 50px;
    animation: divVisible 0.2s ease-out;
    text-align: center;
  }

  @keyframes divVisible {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .desktopFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8rem;
    width: auto;
    background-color: #44c205;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    background-color: rgb(33, 33, 33);
    transition: width 1s ease-out;
  }

  .elementFooterName {
    padding: 3px 7px;
    border-radius: 6px;
    transition: all 0.2s ease-out;
  }

  .elementFooterName:hover {
    background-color: #3d3d3d;
  }

  .desktopFooter div {
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 50px;
  }

  .desktopFooter .scroll-downs {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 34px;
    height: 55px;
  }

  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #403f3f;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #403f3f;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% {
      opacity: 0;
    }
    10% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(15px);
      opacity: 0;
    }
  }
}
