.homebody {
  position: relative;
}

.descriptionDiv {
  background-color: #44c205;
  width: 100%;
  color: white;
  display: flex;
  padding-top: 20px;
  flex-direction: column;
}

.descriptionDiv h1 {
  text-align: center;
  margin: auto;
  font-size: 1.5rem;
}

p {
  align-self: center;
}

.chiSiamo {
  background-color: #e65203;
  height: 40rem;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chiSiamo h1 {
  margin: 0;
}
.doveSiamo {
  background-color: #08b4f3;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  padding-top: 1.4rem;
}

.doveSiamo h1 {
  margin: 0;
  margin-bottom: 1rem;
}

.doveSiamo p {
}

.modalMaps {
  border-radius: 50px;
  overflow: hidden;
  width: 90vw;
  height: 90vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.desktopView {
  display: none;
}

@media (min-width: 1200px) {
  .homebody {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .descriptionDiv {
    display: none;
  }

  .newsLetterSection {
    display: none;
  }

  .desktopView {
    width: 100%;
    height: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mouseIcon {
    position: fixed;
    bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;

    padding: 30px 30px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: background-color 0.4s ease-out;

    background: rgba(255, 255, 255, 0.3);

    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);

    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);

    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 4;
  }

  .mouseIcon p {
    color: #403f3f;
    font-weight: bold;
  }

  .modalContent {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .modalDiv {
    width: 65%;
    max-width: 1060px;
    height: 80vw;
    max-height: 765px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100vh;
    /* 
     */
    display: flex;
    position: relative;
    /* Setting the size of the upper layer to 80% of the screen size*/
    align-items: center;
    justify-content: space-between;

    /*the alpha value controls the transparency*/
    background: rgba(255, 255, 255, 0.3);

    /* This controls the blurring effect*/
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);

    /*Adding the shadow*/
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);

    /* Adding our borders*/
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 4;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;

    border-bottom-right-radius: 50px;
  }

  .smallerDivs {
    margin: auto;
    width: 78%;
    height: 50%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .smallerDiv1,
  .smallerDiv2 {
    width: 50%;
    height: 50%;
    padding: 1rem;
    background-color: #ffffffe2;
    padding: 0;
    border-radius: 50px;
    min-height: 379px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden;
    transition: all 0.4s ease-out;
    position: static;
  }

  .smallerDiv1 {
    margin-right: 5px;
  }

  .smallerDiv2 {
    margin-left: 5px;
  }

  .smallerDiv1:hover,
  .smallerDiv2:hover {
    width: 70%;
    background-color: #ffffff;
  }

  .smallerDiv1.modalOpen {
    background-color: #ffffffed;
  }

  .smallerDiv1 span {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: #3aa405;
    font-size: 3rem;
    background-color: #e3e3e358;

    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease-out;
  }

  .smallerDiv1 span:hover {
    background-color: #d3d3d3;
  }

  .modalOpen {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .smallerDiv1.modalOpen,
  .smallerDiv2.modalOpen {
    z-index: 1;
    height: 100%;
    width: 97%;
    bottom: 0;
    background-color: #ffffff;

    transition: all 0.2s ease-out;
  }

  .positionPreview {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .positionPreview img {
    border-radius: 0;
    width: 15rem;
  }

  .positionPreview p {
    color: #82ce4f;
    font-size: 2rem;
    font-weight: bold;
    margin-top: -1rem;
    margin-bottom: 3rem;
  }

  .bioPreview {
    width: 100%;
    height: 100%;
  }

  .bioPreview {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bioPreview img {
    border-radius: 0;
    width: 14rem;
  }

  .bioPreview p {
    color: #82ce4f;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 3rem;
  }

  .bioPreview {
    width: 100%;
    height: 100%;
  }

  .xbutton {
    width: 5%;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1/1;
    background-color: rgb(68, 255, 0);
    position: absolute;
    right: 5%;
    top: 5%;
  }

  iframe {
    height: 100%;
    width: 100%;
  }
  .bioContent {
    height: 100%;
    width: 100%;
    flex-direction: column;
  }

  .circleDivModals {
    position: absolute;
    background-color: #ffffff;
    width: 79%;
    height: 59%;
    border-radius: 50px;
  }

  .circleDivModal.modalOpen {
    position: absolute;
    background-color: #ffffff;
    width: 79%;
    height: 59%;
    border-radius: 50px;
    animation: divVisible 0.2s ease-out;
    text-align: center;
  }

  .descriptionDivModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .descriptionDivModal span {
    position: absolute;
    top: 28px;
    left: 65px;
    color: #3aa405;
    font-size: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-out;
    background-color: transparent;
    border-radius: 50px;
    cursor: pointer;
    z-index: 10;
  }
  .descriptionDivModal span:hover {
    background-color: #ededed;
  }

  .descriptionDivModal h1 {
    margin-bottom: 0;
    color: #3aa405;
  }

  .descriptionDivModal p {
    margin-bottom: 0;
    width: 70%;
  }

  @keyframes divVisible {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .closeButton {
    background-color: rgb(43, 43, 43);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 4%;
    bottom: 0;
    width: 100px;
    height: 35px;
    border-radius: 50px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s ease-out;
  }

  .visible {
    opacity: 1;
    transition: opacity 0.2s ease-out;
  }

  .arrow {
    position: relative;
    width: 30px;
    height: 30px;
    /*   border:solid 1px white; */
    transition: 0.5s;
    overflow: hidden;
  }

  .arrow:after {
    position: absolute;
    display: block;
    content: "";
    color: white;
    width: 20px;
    height: 15px;
    /*   border:solid 1px;  */
    top: -1px;
    border-bottom: solid 2px;
    transform: translatex(4px);
  }

  .arrow:before {
    position: absolute;
    display: block;
    content: "";
    color: white;
    width: 8px;
    height: 8px;
    /*   border:solid 1px;  */
    border-top: solid 2px;
    border-left: solid 2px;
    top: 50%;
    left: 2px;
    transform-origin: 0% 0%;
    transform: rotatez(-45deg);
  }

  .desktopFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8rem;
    width: auto;
    background-color: #44c205;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    background-color: rgb(33, 33, 33);
    transition: width 1s ease-out;
  }

  .elementFooterName {
    padding: 3px 7px;
    border-radius: 6px;
    transition: all 0.2s ease-out;
  }

  .elementFooterName:hover {
    background-color: #3d3d3d;
  }

  .desktopFooter div {
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 50px;
  }

  .desktopFooter .scroll-downs {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 34px;
    height: 55px;
  }

  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #403f3f;
    border-radius: 25px;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #403f3f;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% {
      opacity: 0;
    }
    10% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(15px);
      opacity: 0;
    }
  }
}
