.backdrop {
  z-index: 3;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: #3a3a3a7e;
}

.menu {
  background-color: #f2f2f2;
  position: fixed;
  width: 16rem;
  height: 100%;
  z-index: 4;
  box-shadow: 0 0 10px #85888c;
  display: flex;
  flex-direction: column;
  /* transition: height 0.3s ease-out; */
}

.list {
  user-select: none;
  list-style-type: none;
}

.list li {
  text-align: end;
  margin-top: 20px;
  margin-right: 3.5rem;
  font-size: 1.2rem;
  color: rgb(26, 26, 26);
  padding: 5px;

}

.list li:hover {
  background-color: rgb(202, 199, 199);
}

.x {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4.5rem;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-left: 0.4rem;
  margin-top: 6.4rem;
  font-size: 1.8rem;
  padding-bottom: 1px;
  padding-right: 1px;
  padding-left: 1px;
  box-shadow: none;
  transition: box-shadow 100ms linear;
}

.x:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
