.backdrop {
  z-index: 3;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: #3a3a3a7e;
}

.menu {
  background-color: #f2f2f2;
  position: fixed;
  width: 16rem;
  height: 100%;
  z-index: 4;
  box-shadow: 0 0 10px #85888c;
  display: flex;
  flex-direction: column;
  /* border-top-right-radius: 8px;
  border-bottom-right-radius: 8px; */
}

.list {
  user-select: none;
  list-style-type: none;
}

li {
  text-align: end;
  margin-top: 20px;
  margin-right: 3.5rem;
  font-size: 1.2rem;
  color: rgb(26, 26, 26);
  padding: 5px;
}

li:hover {
  background-color: rgb(202, 199, 199);
}

.x {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4.5rem;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-left: 0.4rem;
  margin-top: 6.2rem;
  font-size: 2rem;
}

.x:hover {
  background-color: rgb(219, 222, 222);
}

.fade-slide-enter {

}

.fade-slide-enter-active {
    animation: openModal 0.4s ease-out forwards;
}

.fade-slide-exit {

}

.fade-slide-exit-active {
    animation: closeModal 1s ease-out forwards;
}

@keyframes openModal {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    50% {
        opacity: 1;
        transform: translateX(90%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes closeModal {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    50% {
        opacity: 0.8;
        transform: translateX(60%);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}