header {
  width: 100%;
  background-color: #f2f2f2;
  padding: auto;
  top: 0;
  z-index: 3;
  position: relative;
}

.logocontainer {
  display: flex;
  justify-content: center;
}

div img {
  border-radius: 50%;
  width: 60px;
  height: auto;
}

.logo {
  border-radius: 50px;
  display: flex;
  align-items: center;
  user-select: none;
  margin: 5px auto;
}

.logo:hover,
.logo:active {
  box-shadow: rgba(51, 245, 26, 0.25) 0px 54px 55px,
    rgba(51, 245, 26, 0.12) 0px -12px 30px, rgba(51, 245, 26, 0.12) 0px 4px 6px,
    rgba(51, 245, 26, 0.17) 0px 12px 13px, rgba(51, 245, 26, 0.09) 0px -3px 5px;
}

.menuIcon:hover,
.menuIcon:active {
  background-color: rgb(219, 222, 222);
}

img {
  height: 70%;
}

.menuActived {
  background-color: rgb(219, 222, 222);
}

.menuIcon {
  top: 20%;
  position: absolute;
  left: 2%;
  padding: 5px;
  border-radius: 7px;
}

.menuIcon div {
  width: 6vw;
  min-width: 30.47px;
  max-width: 37.7px;
  height: 4.81px;
  background-color: black;
  margin: 3px 0;
  border-radius: 8px;
}

.contactsnav {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(47, 46, 46);
  color: white;
}

.numberMail {
  margin: 0.5rem 3rem;
  text-align: center;
  font-size: 1.2rem;
}

.socialLinks {
  margin-top: 0.6rem;
}

.socialLinks a {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: white;
}
