header {
  width: 100%;
  background-color: #f2f2f2e4;
  padding: auto;
  top: 0;
  z-index: 2;
  position: sticky;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logocontainer {
  display: flex;
  justify-content: center;
}

div img {
  border-radius: 50%;
  width: 3.5rem;
  height: auto;
  margin-left: 10px;
}

.logo {
  border-radius: 50px;
  display: flex;
  user-select: none;
  margin: 5px auto;
  transition: box-shadow 0.3s linear;
  background-color: #f2f2f2e4;

}

.logo p {
  font-size: 0.6rem;
  font-weight: 400;
  color: rgb(5, 172, 47);
  width: 70px;
  text-align: left;
  margin: 10px;
  margin-left: 0;
}

.logo:hover,
.logo:active {
  box-shadow: rgba(150, 211, 87, 0.25) 0px 54px 55px,
    rgba(150, 211, 87, 0.12) 0px -12px 30px,
    rgba(150, 211, 87, 0.12) 0px 4px 6px, rgba(150, 211, 87, 0.17) 0px 12px 13px,
    rgba(150, 211, 87, 0.09) 0px -3px 5px;
}

img {
  height: 70%;
}

.menuActived {
  background-color: rgb(219, 222, 222);
}

.menuIcon {
  top: 20%;
  position: absolute;
  left: 2%;
  padding: 5px;
  border-radius: 7px;
  cursor: pointer;
  transition: box-shadow 0.3s linear;
}
.menuIcon:hover,
.menuIcon:active {
  background-color: #ebebeb;
  box-shadow: rgba(150, 211, 87, 0.25) 0px 54px 55px,
    rgba(150, 211, 87, 0.12) 0px -12px 30px,
    rgba(150, 211, 87, 0.12) 0px 4px 6px, rgba(150, 211, 87, 0.17) 0px 12px 13px,
    rgba(150, 211, 87, 0.09) 0px -3px 5px;
}

.menuIcon div {
  width: 6vw;
  min-width: 30.47px;
  max-width: 37.7px;
  height: 4.81px;
  background-color: rgba(95, 192, 4, 0.762);
  margin: 3px 0;
  border-radius: 8px;
}

.contactsnav {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(47, 46, 46);
  color: white;
}

.numberMail {
  margin: 0.5rem 3rem;
  text-align: center;
  font-size: 1.2rem;
}

.socialLinks {
  display: flex;
  margin-top: 0.6rem;
  border-radius: 50%;
}
.link {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  position: relative;
  background-color: transparent;
  background: transparent;
  transition: background-color 0.25s linear;
}

.link div {
  font-size: 1rem;
  color: white;
}

#IconFacebook:hover,
#IconFacebook:active {
  background-color: rgb(59, 59, 249);
}

#LinkFacebook {
  position: absolute;
  bottom: 2px;
  right: 9px;
}

#IconInstagram:hover,
#IconInstagram:active {
  background-color: #bc318f;
  /* background: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      transparent 50%
    ),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 20% -50%,
      #5258cf,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 60% -20%,
      #893dc2,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(
      #6559ca,
      #bc318f 30%,
      #e33f5f 50%,
      #f77638 70%,
      #fec66d 100%
    ); */
}

#LinkInstagram {
  position: absolute;
  bottom: 3.6px;
  right: 5.7px;
}

#IconTwitter:hover,
#IconTwitter:active {
  background-color: rgb(29, 161, 242);
}

#LinkTwitter {
  position: absolute;
  bottom: 3.6px;
  right: 5.3px;
}

#IconGoogle:hover,
#IconGoogle:active {
  background-color: #ea4335;
  /* background: conic-gradient(
      from -45deg,
      #ea4335 110deg,
      #4285f4 90deg 180deg,
      #34a853 180deg 270deg,
      #fbbc05 270deg
    )
    73% 55%/150% 150% no-repeat; */
}

#LinkGoogle {
  position: absolute;
  bottom: 3.6px;
  right: 6.1px;
}

#IconSkype:hover,
#IconSkype:active {
  background-color: #00adeb;
}

#LinkSkype {
  position: absolute;
  bottom: 3.6px;
  right: 5.7px;
}
