#slide0 {
  background-image: url("../images/dji_fly_20230521_182050_12_1684686059162_photo_optimized.jpg");
}

#slide1 {
  background-image: url("../images/pompa-di-calore.jpg");
}

#slide2 {
  background-image: url("../images/pale-eoliche.png");
}

.slideShow {
  width: 100%;
  position: relative;
  display: flex;
}

.imageFrame {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 300px;
  height: 62.9vw;
  overflow: hidden;
}

.imagecontainer {
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
  min-height: 300px;
  height: 62.9vw;
  align-items: flex-end;
  width: 100%;
  border-radius: 0;
  margin-left: 0;
}

.paragraph {
  position: absolute;
  color: white;
  font-style: italic;
  background-color: rgba(29, 28, 28, 0.668);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  bottom: 0;
  width: 100%;
}

.imagetext {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  text-align: center;
  margin: 2rem;
  align-items: center;
}

.imagebutton {
  margin-top: 0.8rem;
  width: 6rem;
  height: 2rem;
  max-height: 50px;
  max-width: 200px;
  border: none;
  font-size: 0.7rem;
  background-color: rgb(17, 159, 26);
  border-radius: 5px;
  color: azure;
  margin-bottom: 1rem;
}

.imagebutton:hover,
.imagebutton:active {
  background-color: rgb(20, 183, 31);
  cursor: pointer;
  transform: scale(1.1);
}

#button1,
#button2 {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -40px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 35px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 2;
  border: none;
  background-color: transparent;
}

#button1 {
  left: 0;
}

#button2 {
  right: 0;
}

#button1:hover,
#button2:hover {
  background-color: rgba(255, 255, 255, 0.613);
  color: black;
}

@media (min-width: 1200px) {
  .slideShow {
    width: 100%;
    position: relative;
    display: flex;
  }

  .imageFrame {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 300px;
  }

  .imagecontainer {
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    min-height: 300px;
    height: 100vh;
    align-items: flex-end;
    width: 100%;
  }
  .paragraph {
    display: none;
  }
}
